<% include ../partials/header %>

<h1 class="d-none d-sm-block">B l o g &ensp;H o m e &ensp;P a g e</h1>
<h1 class="d-block d-sm-none">B l o g &ensp;H o m e <br> P a g e</h1>

<div class="pageContent">
    <% blogs.forEach(function(blog){ %>
        <div class = "container imageBlock">
            <h2><%= blog.title %></h2>
            <a href="/blogs/<%= blog._id %>"> <img src="<%= blog.image %>" alt="photo"></a>
            <p>
            <span><strong><%= blog.created.toDateString() %></strong></span>
            </p>
            <p><%= blog.body.substring(0, 100) %>...</p>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>