<% include ../partials/header %>
<div class="pageContent">
    <div id="showContainer">
        <div class="ui main text container segment">
            <h2 id="h2Show"><%= blog.title %></h2>
            <div class="ui top attached">
                <div class="item">
                    <img class="ui centered rounded image" src="<%= blog.image %>" >
                    <div class="content">
                        <span><strong><%= blog.created.toDateString() %></strong></span>
                    </div>
                    <div class="description" >
                        <p id="blogText"><%= blog.body %></p>
                    </div>
                    <a href="/blogs/<%=blog._id%>/edit" class="ui green button">Edit</a>
                    <form id="delete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                        <button class="ui red button">Delete</button>
                    </form>
                    <a href="/blogs/" class="ui blue button">Go back to home page</a>            
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>